body {
	background-color: #33CCFF;
}

h1{
	font-size: 40px;
	font-family: Arial;
	color: blue;
	border-style: groove;
	border-color: blue;
	text-align: center;
}

img {
	float: left;
	margin-left: 25%; 
	margin-top: 5%;
}

.links {
	float: right;
	margin-right: 25%;
	margin-top: 5%;
	width: 250px;
	height: 372px;
	line-height: 175px;
	font-size: 36px;
	font-family: Arial;
	color: blue;
	border-style: groove;
	border-color: blue;
	text-align: center;
}

div#title {
	font-size: 28px;
	font-family: Arial;
}

h2 {
	font-size: 22px;
	font-family: Arial;
}

p {
	font-size: 14px;
	font-family: Arial;
}

ul {
	font-size: 14px;
	font-family: Arial;
}

.Bio {
	font-size: 22px;
	font-family: Arial;
	margin-left: 25%;
	margin-right: 25%;
}