body {
	background-color: #33CCFF;
}

h1{
	font-size: 40px;
	font-family: Arial;
	color: blue;
	border-style: groove;
	border-color: blue;
	text-align: center;
}

img {
	display: inline-block;
}
.links {
	display: inline-block;
	font-size: 28px;
	font-family: Arial;
	color: blue;
	border-style: groove;
	border-color: blue;
}

div#title {
	font-size: 28px;
	font-family: Arial;
}

h2 {
	font-size: 22px;
	font-family: Arial;
}

p {
	font-size: 14px;
	font-family: Arial;
}

ul {
	font-size: 14px;
	font-family: Arial;
}

.Bio {
	font-size: 22px;
	font-family: Arial;
	margin-left: 25%;
	margin-right: 25%;
}